<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Добавление товара</h2>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите название товара</label><br>
            <input type="text" name='name' />
        </p>
        <p>
            <label>Введите цену</label><br>
            <input type="number" name="price"/>
        </p>
        <p>
            <label>Введите компанию</label><br>
            <select name="company">
                {% for company in companies %}
                <option value="{{ company.id }}">{{ company.name }}</option>
                {% endfor %}
            </select>
        </p>
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>